src/main/mule/circle-ci-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8491a906-ae0d-4d73-93de-ce82a0fa1790" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="circle-ci-demoFlow" doc:id="e99326e7-3d1d-471d-976a-0d09c5c27a6c" >
		<http:listener doc:name="Listener" doc:id="4ed41839-c834-4131-9d33-218b3d634fb7" config-ref="HTTP_Listener_config" path="/circleci"/>
		<ee:transform doc:name="Transform Message" doc:id="b89dba54-9c62-4f6b-beee-48e9cd284ec4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Demo Application to test CircleCi Pipeline"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="919c5e39-744b-45cc-9a9a-8eb6e1cbdb40" message="#[payload]"/>
	</flow>
</mule>
